/********
  common
********/
body {
  /*font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;*/
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

ul {
  list-style: none;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  vertical-align: baseline;
}

/***************
  sidebar
****************/
.sidebar {
  position: fixed;
  height: 100%;
  background: #332e36;
  top: 0;
  left: 0;
  color: #CCC;
  font-size: 18px;
}

.sidebar li a {
  color: #CCC;
}

.sidebar li a:hover {
  color: #666;
}

.sidebar .about-us {
  padding: 50px 10px 20px;
}

.sidebar .nav-header {
  margin: 40px 0;
}

.sidebar .nav-logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.sidebar .nav-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar .nav-social {
  text-align: center;
  padding-left: 0;
}

.sidebar .nav-social-item {
  display: inline-block;
  padding: 0 15px;
}

.sidebar .nav-header .nav-author {
  text-align: center;
}

.sidebar .nav-list li {
  line-height: 40px;
}

.sidebar .footer {
  position: absolute;
  bottom: 5px;
  left: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #AAA;
}

/**************** main ******************/

.main {
  position: relative;
}

/*头部导航栏*/
.topNav {
  border-bottom: 2px solid #d9d9d9;
  font-size: 12px;
}

.topNav li {
  display: inline-block;
}

.topNav li a {
  padding: 15px 20px;
  display: inline-block;
  color: #999999;
}

.topNav li a:hover {
  background-color: #EEE;
}

.topNav li.active {
  margin-bottom: -2px;
  border-bottom: 2px solid #555555;
}

.topNav li.active a {
  color: #555555;
}

.postList {
  margin: 30px 0 0;
}

.postList .postItem {
  position: relative;
  width: 100%;
  padding-right: 2px;
  padding-bottom: 17px;
  margin: 0 0 17px;
  border-bottom: 1px dashed #d9d9d9;
  box-sizing: border-box;
  word-wrap: break-word;
}

.postList .postItem .postInfo {
  display: inline-block;
  min-height: 100px;
}

.postList .postItem .postImage {
  display: inline-block;
  background-position: center;
  float: right;

  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
